* {margin:0px;padding:0px;overflow:hidden}
div {position:absolute}


#header {
	position: absolute;
	top : 0;
	left: 0;
	right: 0;
	height: 70px;
}

#container {
	top: 70px;
	left: 0;
	right: 120px;
	bottom: 50px;
}

#content {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: visible;
}

#vertical-demo {
	max-height: 600px;
	height: 70%;
}

#horizontal-demo {
	max-height: 200px;
	height: 30%;
}

#horizontal, #vertical {
	top: 30px;
	bottom: 0;
	left:0;
	right: 0;
}

#horizontal {
	overflow-x: auto;
	white-space: nowrap;
}

#vertical{
	overflow-y: auto;
}

#vertical-demo,#horizontal-demo {
	position: relative;
}

#vertical div, #horizontal div {
	position: static;
}

#horizontal div {
	height: 100%;
	display: inline-block;
	white-space: normal;
	vertical-align: bottom;
}

.cat1 {
	background: #FFAA00;
}

.cat2 {
	background: #FFBF40;
}

.cat3 {
	background: #FFD073;
}

.cat4 {
	background: #A66F00;
}

.cat5 {
	background: #A68900;
}

#sidebar{
	top: 100px;
	bottom: 0;
	right: 10px;
	width : 100px;
}
